body{
    margin: 0;
    scroll-behavior: smooth;
}

.portada{
    height: 100vh;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    background-color: #000;
}

.portada img{
    width: 280px;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(255,255,255,0.15);

    animation: aparecer 2s ease;
}
.portada h1{
    color: white;
    font-size: 52px;
    margin: 25px 0 10px;

    opacity: 0;
    animation: aparecer 2s ease forwards;
    animation-delay: 1.5s;
}

.portada p{
    color: #d8d8d8;
    font-size: 18px;
    margin: 0;
    text-align: center;
    max-width: 350px;
    line-height: 1.6;

    opacity: 0;
    animation: aparecer 2s ease forwards;
    animation-delay: 2.5s;
}


.boton{
    margin-top: 35px;
    background-color: #2E8B57;
    color: white;
    text-decoration: none;
    padding: 15px 35px;
    border-radius: 50px;
    font-size: 18px;
    font-weight: bold;
    transition: 0.3s;

    opacity: 0;
    animation: aparecer 2s ease forwards,
    latido 2s ease-in-out infinite;
    animation-delay:
     3.5s,
     6s;
}

.boton:hover{
    background-color: #3FA34D;
    transform: scale(1.05) translateY(-3px);
    box-shadow: 0 10px 25px rgba(63,163,77,0.4);
}

@keyframes aparecer{

    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }

}

@keyframes latido{

    0%{
        transform: scale(1);
    }

    50%{
        transform: scale(1.05);
    }

    100%{
        transform: scale(1);
    }

}

#capitulo2023{

    min-height:100vh;

   background:#0d0d0d;

    color:white;

    padding:80px 20px;

    display:flex;
    flex-direction:column;

    justify-content:center;
    align-items:center;

    text-align:center;

}

#capitulo2023 h2{

    color:white;

    font-size:72px;

    margin:0;

}

.numero-capitulo{

    color:#c9b37e;

    letter-spacing:6px;

    text-transform:uppercase;

    font-size:14px;

    margin-bottom:18px;

}

.subtitulo{

    font-size:24px;
    color:#cdb58d;

    margin-bottom:50px;

}

.contenido-capitulo{
    max-width: 600px;
    padding: 40px;
}
.recuerdos{

    display: flex;
    flex-direction: column;

    align-items: center;

    gap: 80px;

    padding-bottom: 100px;

}
.recuerdo{

    width: 320px;

    background-color: white;

    border-radius: 20px;

    border: 1px solid rgba(0,0,0,0.8);

    cursor: pointer;

    overflow: hidden;

    box-shadow: 0 15px 40px rgba(0,0,0,0.25);

    position: relative;

}
.recuerdo::before{

    content:"";

    position:absolute;

    top:12px;
    left:12px;
    right:12px;
    bottom:12px;

    border:1px solid rgba(0,0,0,.05);

    border-radius:8px;

    pointer-events:none;

}
#viaje{

    min-height:100vh;

    display:flex;

    flex-direction:column;

    align-items:center;

    justify-content:center;

    text-align:center;

    padding:80px 40px;

}
.contenido-viaje{

    width:100%;

    display:flex;

    flex-direction:column;

    align-items:center;

    text-align:center;

}
#viaje h2{

    color:white;

    font-size:70px;

    margin-bottom:20px;

}
#viaje p{

    color:#bbbbbb;

    font-size:22px;

    line-height:1.6;

}

@keyframes flotar{

    0%{

        transform:translate(-50%,-50%) translateY(0px);

    }

    50%{

        transform:translate(-50%,-50%) translateY(-8px);

    }

    100%{

        transform:translate(-50%,-50%) translateY(0px);

    }

}

.ruta{

    display:flex;

    align-items:center;

    justify-content:center;

    gap:25px;

    margin-top:60px;

    border-top: 1.5px solid rgba(230,212,165,.8);
}
.linea{

    width:250px;

    height:3px;

    background:white;

    position:relative;

}
.avion{

    position:absolute;

    left:0;

    top:-20px;

    transform:translate(-50%, -50%);

    font-size:36px;

    transition:left 5s linear;

    filter:drop-shadow(0 0 10px rgba(255,220,120,.9));

    animation:flotar 3s ease-in-out infinite;

}
.avion.volando{
    left:100%;
}

.mapa-viaje{

    position:relative;

    width:700px;

    height:360px;

    margin:40px auto;

}

.mapa-png{

    width:100%;

    height:100%;

    object-fit:contain;

    opacity:.35;

    filter:grayscale(100%) brightness(1.8);

}

.punto{

    position:absolute;

    top:145px;

    display:flex;

    flex-direction:column;

    align-items:center;

    color:#f2e3bf;

    font-size:22px;

}

.punto span{

    font-size:30px;

}

.punto small{

    margin-top:8px;

    font-size:16px;

}

.mexico{

    left:0;

}

.colombia{

    right:0;

}

.ruta-mapa{

    position:absolute;

    left:100px;

    top:50px;

    width:500px;

    height:180px;

    border-top:2px solid #d7c39a;

    border-radius:50%;

}



.galeria{

    display:flex;

    justify-content:center;

    align-items:flex-start;

    gap:50px;

    flex-wrap:wrap;

    margin-top:50px;

}
.recuerdo{

    width:220px;

    background:white;

    padding:18px;

    border-radius:8px;

    border: 1px solid rgba(0,0,0,0.8);

    cursor: pointer;

    box-shadow:0 15px 35px rgba(0,0,0,0.35);

    transition:transform .4s ease,
               box shadow .4s ease;

}
.recuerdo img{

    width:100%;

    display:block;

    border-radius:12px;

    box-shadow:0 5px 15px rgba(0,0,0,.15);

    filter: contrast(1.02);

    height: 250px;

    object-fit: cover;

}
.recuerdo h3{

    color:#222;

    margin:18px 0 8px;

    font-size:18px;

    text-align:left;

}
.info-recuerdo h3{

    margin:0;

    color:#333;

    font-size:22px;

}

.recuerdo p{

    color:#666;

    text-align:left;

    padding:0;

    line-height:1.6;

    font-size:14px;

}
.recuerdo:hover{

    transform:translateY(-10px);

    box-shadow:0 25px 50px rgba(0,0,0,.35);

}
.recuerdo:nth-child(1){

    transform: rotate(-3deg);

}

.recuerdo:nth-child(2){

    transform: rotate(2deg);

}

.recuerdo:nth-child(3){

    transform: rotate(-2deg);

}

.recuerdo:nth-child(4){

    transform: rotate(3deg);

}
.info-recuerdo{

    padding:18px 10px 10px;

}
.firma{

    display:block;

    margin-top:20px;

    text-align:right;

    color:#999;

    font-style:italic;

    font-size:13px;

    letter-spacing:1px;

}
.separador{

    width:120px;

    height:2px;

    background:#c9b37e;

    margin:70px auto 35px;

}
//.recuerdo{

    opacity: 0;

    transform: translateY(50px);

    transition: opacity o.8s ease,
                transform 0.8s ease;

    padding: 15px;

}

//.recuerdo.visible{

    opacity: 1;

    transform: translateY(0);

}
.pais{

    color:white;

    font-size:20px;

    font-weight:bold;

}
.recuerdo:nth-child(odd){

    transform: rotate(-3deg);

}

.recuerdo:nth-child(even){

    transform: rotate(3deg);

}
.recuerdo:hover{

    transform: rotate(0deg) scale(1.05);

}
.info-recuerdo{

    padding:20px 10px 10px;

    text-align:center;

}
.info-recuerdo p{

    color:#666;

    line-height:1.6;

    margin:15px 0;

    font-size:16px;

}
.titulo-recuerdo{

    color:white;

    font-size:32px;

    margin:80px 0 40px;

    text-align:center;

}
.recuerdos-pequenos,
.recuerdos-futbol{

    display:flex;

    justify-content:center;

    gap:30px;

    flex-wrap:wrap;

}
.frase-futbol{

    text-align:center;

    color:#d8d8d8;

    margin-top:35px;

    line-height:1.8;

    font-size:16px;

}

.frase-futbol span{

    display:block;

    margin-top:10px;

    font-size:28px;

    color:#d8c7a3;

    font-family: "Georgia", serif;

}
.reflexion{

    display:flex;

    align-items:center;

    justify-content:center;

    gap:70px;

    margin:180px auto 120px;

    max-width:1200px;

}

.reflexion img{

    width:320px;

    border-radius:18px;

    box-shadow:0 20px 50px rgba(0,0,0,.35);

}

.texto-reflexion{

    max-width:520px;

    color:white;

}

.texto-reflexion h2{

    color:#f2e3bf;

    line-height:1.6;

    font-weight:normal;

}

.texto-reflexion p{

    color:#cfcfcf;

    line-height:1.9;

    font-size:18px;

}

.fin-capitulo{

    margin:180px 0 120px;

    text-align:center;

}

.fin-texto{

    color:#d8d8d8;

    font-size:24px;

    font-style:italic;

    line-height:1.8;

    max-width:700px;

    margin:auto;

}

.flecha{

    margin-top:50px;

    font-size:45px;

    color:#d8c7a3;

    animation: bajar 2s ease-in-out infinite;

}

@keyframes bajar{

    0%{
        transform:translateY(0);
    }

    50%{
        transform:translateY(12px);
    }

    100%{
        transform:translateY(0);
    }

}

.mensaje-final{

    display:flex;

    align-items:center;

    justify-content:center;

    gap:70px;

    max-width:1200px;

    margin:180px auto;

}

.imagen-mensaje img{

    width:420px;

    border-radius:12px;

    filter:brightness(.75);

}

.texto-mensaje{

    max-width:520px;

    text-align:center;

}

.texto-mensaje h2{

    color:#f2e3bf;

    font-size:36px;

    font-weight:normal;

    line-height:1.6;

    margin-bottom:40px;

}

.texto-mensaje p{

    color:#d0d0d0;

    font-size:22px;

    margin-bottom:15px;

}

.texto-mensaje span{

    color:white;

    font-size:30px;

    font-style:italic;

}

#capitulo2024{

    min-height:100vh;

    background:#0d0d0d;

    color:white;

    padding:120px 20px;

    text-align:center;

}

.galeria-2024{

    max-width:1200px;

    margin:80px auto;

}

.fila-2024{

    display:flex;

    justify-content:center;

    align-items:flex-start;

    gap:70px;

    flex-wrap:wrap;

    margin-top:70px;

}

.recuerdo-2024{

    width:380px;

}

.recuerdo-2024 img{

    width:100%;

    display:block;

    border-radius:18px;

    box-shadow:0 20px 45px rgba(0,0,0,.35);

    transition:.4s;

}

.recuerdo-2024 img:hover{

    transform:scale(1.03);

}

.recuerdo-2024 p{

    color:#d8d8d8;

    text-align:center;

    line-height:1.8;

    margin-top:25px;

    font-size:18px;

}
.transicion-2024{

    display:flex;

    align-items:center;

    justify-content:center;

    gap:25px;

    margin:90px 0;

}

.transicion-2024 span{

    width:120px;

    height:1px;

    background:#6b6b6b;

}

.transicion-2024 p{

    color:#bdbdbd;

    font-style:italic;

    font-size:18px;

}
.miradas{

    margin:180px auto;

    text-align:center;

    max-width:900px;

}

.miradas img{

    width:100%;

    border-radius:20px;

    box-shadow:0 25px 60px rgba(0,0,0,.4);

}

.miradas p{

    color:#d8c7a3;

    font-size:30px;

    line-height:1.8;

    font-style:italic;

    margin-top:45px;

}
.despedida-2024{

    display:flex;

    justify-content:center;

    align-items:center;

    gap:80px;

    max-width:1200px;

    margin:180px auto;

    flex-wrap:wrap;

}

.texto-despedida{

    max-width:500px;

}

.texto-despedida h2{

    color:#f2e3bf;

    font-size:34px;

    font-weight:normal;

    line-height:1.8;

}

.texto-despedida p{

    color:#d5d5d5;

    font-size:20px;

    line-height:1.8;

    margin-top:30px;

}

.foto-despedida{

    width:380px;

}

.foto-despedida img{

    width:100%;

    border-radius:18px;

    box-shadow:0 20px 50px rgba(0,0,0,.35);

    filter:brightness(.82);

}
.cierre-2024{

    margin:180px auto 100px;

    text-align:center;

    max-width:700px;

}

.frase-cierre{

    color:#f2e3bf;

    font-size:34px;

    line-height:1.8;

    font-style:italic;

}

.linea-final{

    width:140px;

    height:2px;

    background:#c9b37e;

    margin:45px auto;

}

.continuacion{

    color:#d5d5d5;

    font-size:22px;

    line-height:1.8;

}

.flecha{

    margin-top:50px;

    font-size:42px;

    color:#d8c7a3;

    animation:bajar 2s ease-in-out infinite;

}


#conociendote{

    background:#080808;

    color:white;

    padding:150px 20px;

}

#conociendote .contenido-capitulo{

    max-width:900px;

    margin:0 auto;

    text-align:center;

}

#conociendote h2{

    text-align:center;

    font-size:72px;

    margin-bottom:30px;

}

#conociendote .subtitulo{

    max-width:700px;

    margin:0 auto 120px;

    text-align:center;

    color:#d0c2a2;

    line-height:2;

    font-size:22px;

}
.bloque-kemish{

    margin:160px auto;

    max-width:1200px;

}
.bloque-kemish h3{

    text-align:center;

    color:#f2e3bf;

    font-size:34px;

    margin-bottom:60px;

}
.texto-capitulo{

    max-width:650px;

    margin:45px auto 0;

    text-align:center;

    line-height:2;

    color:#d6d6d6;

    font-size:20px;

}
.recuerdo-2024 img,
.recuerdo-centro img{

    border-radius:18px;

    box-shadow:0 20px 45px rgba(0,0,0,.35);

    transition:.4s;

}

.recuerdo-2024 img:hover,
.recuerdo-centro img:hover{

    transform:scale(1.04);

}
.categoria{

    text-align:center;

    color:#9d9d9d;

    letter-spacing:8px;

    font-size:13px;

    text-transform:uppercase;

    margin-bottom:15px;

}
.fila-kemish{

    display:flex;

    justify-content:center;

    gap:40px;

    flex-wrap:wrap;

    margin-top:40px;

}

.fila-kemish img{

    width:280px;

    height:350px;

    object-fit:cover;

    border-radius:18px;

}
.texto-capitulo{

    max-width:650px;

    margin:45px auto;

    text-align:center;

    color:#d8d8d8;

    line-height:2;

    font-size:20px;

}
.separador-kemish{

    width:80px;

    height:2px;

    background:#bfa46f;

    margin:120px auto;

}
.recuerdo-centro{

    display:flex;

    justify-content:center;

    align-items:center;

    margin-top:40px;

}

.recuerdo-centro img{

    width:320px;

    height:420px;

    object-fit:cover;

    border-radius:18px;

    box-shadow:0 20px 45px rgba(0,0,0,.35);

}
.separador-kemish{

    width:90px;

    height:2px;

    background:#c9b37e;

    margin:120px auto;

    opacity:.9;

    border-radius:10px;

}

#capitulo2026{

    background:#080808;

    color:white;

}

#capitulo2026 h2{

    font-size:80px;

    margin:15px 0;

    color:white;

}

#capitulo2026 .subtitulo{

    color:#d9c8a0;

    font-size:28px;

    margin-top:20px;

    line-height:1.8;

}

#capitulo2026 .pais{

    margin-top:40px;

    font-size:22px;

    color:#f2e3bf;

    letter-spacing:2px;

}
/*==========================
        ACTOS
==========================*/

.acto{

    width:90%;

    max-width:900px;

    margin:120px auto;

    text-align:center;

}

.titulo-acto{

    color:#f2e3bf;

    font-size:42px;

    margin-bottom:35px;

}

.intro-acto{

    color:#d8d8d8;

    font-size:24px;

    line-height:2;

    max-width:700px;

    margin:auto;

}

.bloque-viaje{

    width:90%;

    max-width:850px;

    margin:120px auto;

    text-align:center;

}

.fecha{

    color:#d7c39a;

    letter-spacing:4px;

    margin-bottom:25px;

    font-size:18px;

}

.captura{

    width:100%;

    border-radius:18px;

    margin-bottom:35px;

    box-shadow:0 0 30px rgba(0,0,0,.35);

}

.bloque-viaje p{

    color:white;

    font-size:24px;

    line-height:1.9;

}

.bloque-doble{

    width:90%;

    max-width:1000px;

    margin:120px auto;

    text-align:center;

}

.imagenes-dobles{

    display:flex;

    gap:25px;

    justify-content:center;

    margin-bottom:35px;

}

.imagenes-dobles img{

    width:48%;

    border-radius:18px;

    box-shadow:0 0 25px rgba(0,0,0,.35);

}

.bloque-doble p{

    color:white;

    font-size:24px;

    line-height:1.9;

}

.contenido-capitulo{

    min-height:100vh;

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    text-align:center;

    width:100%;

    margin: auto;
    
    padding:0 20px;

}
#capitulo2026{

    background:#080808;

    color:white;

    padding-bottom:120px;

}

/*==========================
    TRANSICIÓN AL VIAJE
==========================*/

.transicion-viaje{

    min-height:100vh;

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    text-align:center;

    padding:60px 20px;

}

.transicion-viaje p{

    font-size:34px;

    color:white;

    line-height:1.8;

}

.segunda-frase{

    margin-top:80px;

    color:#d9c8a0;

    font-size:42px;

    font-weight:300;

}

/*==========================
   TODO LO QUE NO VISTE
==========================*/

.detras-camaras{

    min-height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    text-align:center;

    padding:100px 20px;

    background:#080808;

}

.contenido-detras{

    max-width:800px;

}

.numero-seccion{

    font-size:50px;

    display:block;

    margin-bottom:25px;

}

.detras-camaras h2{

    color:#f2e3bf;

    font-size:48px;

    margin-bottom:40px;

}

.detras-camaras p{

    color:#d8d8d8;

    font-size:24px;

    line-height:1.9;

    margin-bottom:45px;

}

.boton-video{

    display:inline-block;

    padding:18px 35px;

    border:1px solid #d7c39a;

    border-radius:40px;

    color:#f2e3bf;

    text-decoration:none;

    font-size:18px;

    letter-spacing:1px;

    transition:all .3s ease;

}

.boton-video:hover{

    background:#f2e3bf;

    color:#080808;

    transform:scale(1.05);

}

/*==========================
      ANIMACIONES
==========================*/
.foto-animada{

    opacity:0;

    transition:opacity 1s ease;

}

.foto-animada.mostrar{

    opacity:1;

}

.texto-animado{

    opacity:0;

    transition:opacity 1s ease;

}

.texto-animado.mostrar{

    opacity:1;

}

.menu-capitulos{

    display:flex;

    justify-content:center;

    align-items:center;

    gap:35px;

    flex-wrap:wrap;

    margin-top:40px;

    width:100%;

}

.menu-capitulos a{

    color:#d7c39a;

    text-decoration:none;

    font-size:18px;

    transition:all .3s ease;

    white-space:nowrap;

}

.menu-capitulos a:hover{

    color:white;

    transform:translateY(-3px);

}
.menu-historia{

    width:100%;

    text-align:center;

    margin-top:80px;


}
#viaje{

    background:#080808;

    color:white;

}
#viaje{

    min-height:100vh;

    background:#080808;

    color:white;

}

.musica{

    margin:35px 0;

    text-align:center;

}

.boton-musica{

    display:inline-block;

    padding:14px 30px;

    border:2px solid #d7c39a;

    border-radius:40px;

    color:#f2e3bf;

    text-decoration:none;

    font-size:18px;

    font-weight:600;

    transition:.3s;

}

.boton-musica:hover{

    background:#d7c39a;

    color:#111;

    transform:translateY(-3px);

    box-shadow:0 0 18px rgba(215,195,154,.5);

}

.musica p{

    margin-top:12px;

    font-size:15px;

    color:#9b9b9b;

    font-style:italic;

}
/* ===========================
        RESPONSIVE MÓVIL
=========================== */

@media (max-width:768px){

    body{
        overflow-x:hidden;
    }

    img{
        max-width:100%;
    }

    h1,h2{
        font-size:42px !important;
    }

    p{
        font-size:18px !important;
    }

    .contenido-capitulo{
        padding:0 18px;
    }

    /* MAPA */

    .mapa-viaje{
        width:100%;
        max-width:330px;
        height:auto;
    }

    .mapa-png{
        width:100%;
        height:auto;
    }

    .ruta-mapa{
        width:220px;
        left:55px;
        top:25px;
    }

    .colombia{
        right:-5px;
    }

    .mexico{
        left:-5px;
    }

    /* GALERÍAS */

    .galeria,
    .fila-2024,
    .fila-kemish,
    .imagenes-dobles,
    .mensaje-final,
    .despedida-2024,
    .reflexion{

        flex-direction:column;
        align-items:center;
        gap:35px;

    }

    .recuerdo,
    .recuerdo-2024,
    .foto-despedida,
    .texto-despedida,
    .texto-reflexion{

        width:100%;
        max-width:320px;

    }

    .imagenes-dobles img{
        width:100%;
    }

    .captura{
        width:100%;
    }

    .bloque-viaje{

        width:100%;
        padding:0 15px;
        box-sizing:border-box;

    }

    .texto-animado{

        width:100%;
        box-sizing:border-box;
        padding:0;

    }

}